<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8"/>
<title>Curve Points List</title>
 <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
</head>
<body>
<div class="container">
			<header class="row">
			<nav class="col-6">
				<a th:href="@{/}">Home</a>&nbsp;|&nbsp;
				<a th:href="@{/app/login}">Login</a>&nbsp;|&nbsp;
				<a th:href="@{/bidList/list}">Bid List</a>&nbsp;|&nbsp;
				<a th:href="@{/curvePoint/list}">Curve Points</a>&nbsp;|&nbsp;
				<a th:href="@{/rating/list}">Ratings</a>&nbsp;|&nbsp;
				<a th:href="@{/trade/list}">Trade</a>&nbsp;|&nbsp;
				<a th:href="@{/ruleName/list}">Rule</a>
			</nav>
			<div class="col-6 text-right"sec:authorize="isAuthenticated()">
				Logged in user: <b class="user"sec:authentication="name"></b>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" />
				</form>
			</div>
		</header>
	<div class="row"><h2>Curve Point List</h2></div>
	<div class="row">
		<a th:href="@{/curvePoint/add}" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>CurvePointId</th>
					<th>Term</th>
					<th>Value</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="curvePoint : ${curvePoints}">
					<td style="width: 10%" th:text="${curvePoint.id}"></td>
					<td th:text="${curvePoint.curveId}"></td>
					<td th:text="${curvePoint.term}"></td>
					<td th:text="${curvePoint.value}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/curvePoint/update/{id}(id=${curvePoint.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/curvePoint/delete/{id}(id=${curvePoint.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>