@charset "UTF-8";

header {
	margin: 2rem 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin-top: -4rem;
}

h2 {
	margin: 2rem auto
}

.h2--font {
	font-weight: bold;
	font-family: serif;
}

.label--font {
	font-family: serif;
}

.row {
	justify-content: center;
}

.form-horizontal {
	width: 100%;
}

.form-horizontal--login {
	width: 50%;
}

.form-group--signup {
	margin-top: 5 rem;
}

.form-group--login {
	margin-left: 1rem;
}

.col-sm-10 input {
	width: 20rem;
}

.button-signUp {
	color: #007bff;
	;
	text-decoration: underline;
}

label {
	margin-right: 1rem;
}