<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Error</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<main>
			<div class="row">
				<h2>Error</h2>
			</div>
			<div>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" />
				</form>
			</div>
			<p class="text-danger">An error has occured...</p>
		</main>
	</div>
</body>

</html>