<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Home</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<header class="row">
			<nav class="col-6">
				<a th:href="@{/app/login}">Login</a> &nbsp;|&nbsp;
				<a th:href="@{/user/list}">User management</a>
			</nav>
			<div class="col-6 text-right" sec:authorize="isAuthenticated()">
				Logged in user: <b class="user" sec:authentication="name"></b>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" />
				</form>
			</div>
		</header>
		<main>
			<div class="row">
				<h2> HOME PAGE </h2>
				<div class="row">
		</main>
	</div>
</body>

</html>