<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Trades List</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<header class="row">
			<nav class="col-6">
				<a th:href="@{/}">Home</a>&nbsp;|&nbsp;
				<a th:href="@{/app/login}">Login</a>&nbsp;|&nbsp;
				<a th:href="@{/bidList/list}">Bid List</a>&nbsp;|&nbsp;
				<a th:href="@{/curvePoint/list}">Curve Points</a>&nbsp;|&nbsp;
				<a th:href="@{/rating/list}">Ratings</a>&nbsp;|&nbsp;
				<a th:href="@{/trade/list}">Trade</a>&nbsp;|&nbsp;
				<a th:href="@{/ruleName/list}">Rule</a>
			</nav>
			<div class="col-6 text-right" sec:authorize="isAuthenticated()">
				Logged in user: <b class="user" sec:authentication="name"></b>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" />
				</form>
			</div>
		</header>
		<main></main>
		<div class="row">
			<h2>Trade List</h2>
		</div>
		<div class="row">
			<a th:href="@{/trade/add}" class="btn btn-primary btn-sm">Add New</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Account</th>
						<th>Type</th>
						<th>Buy Quantity</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="trade : ${trades}">
						<td style="width: 10%" th:text="${trade.tradeId}"></td>
						<td th:text="${trade.account}"></td>
						<td th:text="${trade.type}"></td>
						<td th:text="${trade.buyQuantity}"></td>
						<td style="width: 15%" class="text-center">
							<a th:href="@{/trade/update/{id}(id=${trade.tradeId})}">Edit</a>&nbsp;|&nbsp;
							<a th:href="@{/trade/delete/{id}(id=${trade.tradeId})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</main>
	</div>
</body>

</html>